html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-image: linear-gradient( 111.2deg,  rgba(230,248,13,1) 0.9%, rgba(128,248,13,1) 52.5%, rgba(103,205,4,1) 78.2%, rgba(44,151,13,1) 99.2% );
  font-family: Arial, sans-serif;
  color: #333;
}

/* MAIN SECTION */

.main {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-areas: "nav nav nav"
  "header header header"
  "content section section"
  "footer footer footer";
}

.about {
  grid-area: content;
}

/* NAVIGATION SECTION */

.header-navigation {
  
}

.navigation {
  grid-area: nav;
  background-color: #fff;
  /* display: flex; */
  position: fixed;
  /* justify-content: center; */
  width: 100%;
}

.navigation__list {
  display: flex;
  justify-content: center;
  /* align-items: center;
  display: flex;
  justify-content: center;
  
  margin: 0;
  padding: 16px 16px; */
}

.navigation__item {
  padding: 0 16px;
  list-style: none;
  /* font-size: 25px;
  color: brown;
  list-style: none;
  padding-left: 16px; */
}

.navigation__link {
  text-decoration: none;
}

/* MAIN-HEADER SECTION */

.main-header {
  grid-area: header;
  text-align: center;
}

.main-header__title {
  color: rgb(84, 207, 100);
  font-size: 33px;
  text-shadow: 1px 1px 3px black;
  padding-top: 50px;
}

/* ABOUT SECTION */

.about__title {
  color: #2A9134;
  font-size: 25px;
}

.about__paragraph {
  width: 85%;
  letter-spacing: 2px;
  padding: 0 16px;
}

.about__paragraph--hidden, .about__list--hidden {
  height: 5vh;
  overflow: hidden;
}

.about__item {
  list-style: circle;
}

.about__link, .url-collection__link {
  color: #397367;
}

.url-collection__item {
  list-style-type: upper-roman;
}

/* ABOUT-SUBSECTION */

.about-subsection__title {
  color: #2A9134;
}

.about-subsection__link {
  color: #397367;
}

/* FOOTER SECTION */

.footer {
  background-image: radial-gradient( circle 644px at 2.8% 48.1%,  rgba(32,82,58,1) 0%, rgba(175,217,114,0.86) 90% );
  color: #333;
  font-weight: bold;
  margin-top: 65px;
  padding: 20px;
  text-align: center;
  display: grid;
  grid-area: footer;
  grid-template-areas: "nav nav nav"
  "header header header"
  "content section section"
  "footer footer footer";
}