html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: #f8f4f4;
  font-family: Arial, sans-serif;
}

/* MAIN SECTION */

.main {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

/* NAVIGATION SECTION */

.navigation__list {
  margin: 0;
  padding: 16px 16px;
  display: flex;
  justify-content: center;
}

.navigation__item {
  font-size: 25px;
  color: brown;
  list-style: none;
  padding-left: 16px;
}

/* MAIN-HEADER SECTION */

.main-header__title {
  color: rgb(84, 207, 100);
  font-size: 33px;
}

/* ABOUT SECTION */

.about__title {
  color: #2A9134;
  font-size: 25px;
}

.about__paragraph {
  width: 85%;
  letter-spacing: 2px;
  padding: 0 16px;
}

.about__paragraph--hidden, .about__list--hidden {
  height: 5vh;
  overflow: hidden;
}

.about__item {
  list-style: circle;
}

.about__link, .url-collection__link {
  color: #397367;
}

.url-collection__item {
  list-style-type: upper-roman;
}

/* ABOUT-SUBSECTION */

.about-subsection__title {
  color: #2A9134;
}

.about-subsection__link {
  color: #397367;
}

/* FOOTER SECTION */

.footer {
  background-color: rgb(214, 96, 96);
  color: white;
  font-weight: bold;
  margin-top: 65px;
  padding: 20px;
  text-align: center;
}